body {
    scroll-behavior: smooth;
    background: linear-gradient(to right, #7d9eeb, #435add);
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    object-fit: cover;
}

h2.separator {
    padding: 0 80px;
    font-size: 40px;
    margin-top: 40px;
}


.mouse-shop .mouse-list .item {
    transition: transform 0.3s, background-color 0.3s;
    padding: 20px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.mouse-shop .mouse-list .item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}


.mouse-shop {
    padding: 0 80px;
    margin-top: 30px;
}

.mouse-shop .category {
    display: flex;
    gap: 14px;
}

.mouse-shop .category a {
    background-color: #dfdcdc;
    padding: 8px 14px;
    font-size: 15px;
    border-radius: 14px;
    transition: all 0.3s ease;
}

.mouse-shop .category a:hover {
    color: #fff;
    background-color: #0f2182;
}

.mouse-shop .mouse-list {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.mouse-shop .mouse-list .item img {
    width: 280px;
    height: 280px;
    border-radius: 18px;
}

.mouse-shop .mouse-list .item .info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #edecec;
}

.mouse-shop .mouse-list .item .info h5 {
    font-size: 18px;
}

.mouse-shop .mouse-list .item .info>p {
    font-size: 12px;
    color: #989898;
}

.mouse-shop .mouse-list .item .bid {
    padding: 6% 0 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mouse-shop .mouse-list .item .bid a {
    background-color: #edecec;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 10px;
}

.mouse-shop .mouse-list .item .bid a {
    color: #304ffe;
    background: transparent;
    font-weight: bold;
    transition: all 0.3s ease;
}

.mouse-shop .mouse-list .item .bid a:hover {
    color: #fff;
    background-color: #000;
}


.mouse-list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 23%;
    /* Chiều rộng 25% để hiển thị 4 mục trên mỗi hàng */
    box-sizing: border-box;
    /* Đảm bảo kích thước của phần tử bao gồm cả padding và border */
    padding: 10px;
    /* Khoảng cách giữa các mục */
}

.item img {
    max-width: 80%;
    height: auto;
    display: block;
    /* Đảm bảo ảnh hiển thị đúng cách */
}

.bid {
    margin-top: 15px;
    /* Khoảng cách từ giá xuống nút mua */
}