:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bx {
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body.dark {
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body {
    scroll-behavior: smooth;
    background: var(--grey);
    overflow-x: hidden;
}

.navbar {
    background-color: #222222;
    height: 10vh;
    padding: 0.5rem 1rem;
}

.navbar-brand img {
    width: 100%;
}

.form-inline input {
    width: 300px;
}

.search-container {
    position: relative;
    width: 300px;
    margin: auto;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    padding-right: 40px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
}

.navbar-nav .nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav .nav-link {
    font-size: 120%;
    color: #989898;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #fff;
}

.content main {
    width: 100%;
    padding: 36px 24px;
    max-height: calc(120vh - 56px);
}

.content main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--light);
}

.content main .header .left {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left li {
    color: var(--light);
}

.content main .header .left li a {
    color: var(--light);
    pointer-events: none;
}


.content main .header .report {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .insights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .header .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li a {
    color: var(--light);
    pointer-events: none;

}

.content main .bottom-data>div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx {
    cursor: pointer;
}

footer {
    background-color: #222222;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    font-size: 48px;
}

footer .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links {
    display: flex;
    gap: 30px;
}

footer .right .links a {
    color: #989898;
    transition: color 0.3s ease;
}

footer .right .links a:hover {
    color: #fff;
}

footer .right .social {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social i {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .right .social i:hover {
    color: #304ffe;
}

footer .right p {
    font-size: 13px;
    color: #777;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {

    .content nav form .form-input input {
        display: none;
    }

    .content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif,
    .content nav form.show~.profile {
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header {
        min-width: 340px;
    }

    .content main .bottom-data .orders table {
        min-width: 340px;
    }

    .content main .bottom-data .reminders .task-list {
        min-width: 340px;
    }

}