:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bx {
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body.dark {
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body {
    scroll-behavior: smooth;
    background: var(--grey);
    overflow-x: hidden;
}

.navbar {
    background-color: #222222;
    height: 10vh;
    padding: 0.5rem 1rem;
}

.navbar-brand img {
    width: 100%;
}

.form-inline input {
    width: 300px;
}

.search-container {
    position: relative;
    width: 300px;
    margin: auto;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    padding-right: 40px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
}

.navbar-nav .nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav .nav-link {
    font-size: 120%;
    color: #989898;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #fff;
}

.content {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
    color: var(--dark);
}

.content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

.content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav .notif {
    font-size: 20px;
    position: relative;
}

.content nav .notif .count {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.content main {
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--light);
}

.content main .header .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li {
    color: var(--light);
}

.content main .header .left .breadcrumb li a {
    color: var(--light);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active {
    color: var(--light);
    pointer-events: none;
}

.content main .header .report {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .bottom-data {
    flex-wrap: wrap;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data .product {
    border-radius: 15px;
    background: var(--light);
    height: 50vh;
    padding: 24px;
    margin-top: 20px;
    overflow-x: auto;
}

.content main .bottom-data .nav-product {
    display: flex;
    border-radius: 15px;
    background: var(--light);
    padding: 24px;
    margin-top: 20px;
    overflow-x: auto;
}

.nav-product .btn {
    align-items: center;
    height: 50px;
    width: 100px;
    margin-right: 20px;
}

.filter {
    display: flex;
    align-items: center;
}

.filter .form-group {
    margin-right: 20px;
}

.form-group {
    margin: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 200px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width=".8" d="M0 0l2 2 2-2"/></svg>') no-repeat right 10px center;
    background-color: white;
    background-size: 10px;
}

.content main .bottom-data .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx {
    cursor: pointer;
}

.content main .bottom-data .product {
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .product table {
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .product table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .product table td {
    padding: 16px 0;
}

.content main .bottom-data .product table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .product table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .product table tbody tr {
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .product table tbody tr:hover {
    background: var(--grey);
}

.content main .bottom-data .product table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    background-color: var(--success);
    border-radius: 15px;
    font-weight: 700;
}

.content main .bottom-data .product table tr td .status.success {
    background: var(--success);
}

.content main .bottom-data .product table tr td .status.process {
    background: var(--primary);
}

.content main .bottom-data .product table tr td .status.pending {
    background: var(--warning);
}

.content main .bottom-data {
    flex-grow: 1;
    flex-basis: 300px;
}

.content main .bottom-data {
    width: 100%;
}

.content main .bottom-data li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content main .bottom-data li .task-title {
    display: flex;
    align-items: center;
}

.content main .bottom-data li .task-title p {
    margin-left: 6px;
}

.content main .bottom-data li .bx {
    cursor: pointer;
}

.content main .bottom-data li.success {
    border-left: 10px solid var(--success);
}

.content main .bottom-data li.not-success {
    border-left: 10px solid var(--danger);
}

.content main .bottom-data li:last-child {
    margin-bottom: 0;
}

footer {
    background-color: #222222;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    font-size: 48px;
}

footer .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links {
    display: flex;
    gap: 30px;
}

footer .right .links a {
    color: #989898;
    transition: color 0.3s ease;
}

footer .right .links a:hover {
    color: #fff;
}

footer .right .social {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social i {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .right .social i:hover {
    color: #304ffe;
}

footer .right p {
    font-size: 13px;
    color: #777;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {

    .content nav form .form-input input {
        display: none;
    }

    .content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif,
    .content nav form.show~.profile {
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header {
        min-width: 340px;
    }

    .content main .bottom-data .product table {
        min-width: 340px;
    }

    .content main .bottom-data {
        min-width: 340px;
    }

}